.bookmarkWrapper {
  display: flex;
  gap: 8px;
  height: 100%;
}

.bookmarkPostsWrapper {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-4);
  flex: 2;
  display: flex;
  gap: 16px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.feedMoreOptions {
  display: none;
}

@media screen and (min-width: 768px) {
  .bookmarkPostsWrapper {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    /* padding-bottom: var(--space-5); */
  }
  .bookmarkWrapper {
    padding-right: var(--space-2);
  }
  .feedMoreOptions {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
    margin-top: var(--space-3);
  }
}
