.profileMainWrapper {
  display: flex;
  height: 100%;
}

.profileHeading {
  display: flex;
  gap: 16px;
  align-items: center;
  border-bottom: var(--color-primary-300) solid 1px;
}

.profileWrapper {
  margin-top: var(--space-2);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.profileWrapper > p {
  padding: 0 0 var(--space-1) var(--space-1);
  font-size: var(--font-length-md1);
  color: var(--color-primary-700);
}

.profileDetailsImage {
  border-radius: 50%;
  margin: var(--space-1);
}

.profileDetailsImage > img {
  width: 80px;
  height: 80px;
}

.profileDetails {
  display: flex;
}

.profileDetails > div {
  /* margin: var(--space-1); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.profileDetails > div > h2 {
  color: var(--color-primary-700);
}

.profileDetails > div > button {
  padding: 0.2rem 0.4rem;
  font-size: var(--font-length-sm3);
}

.profileDetails > div > small {
  color: var(--color-primary-100);
}

.profileDetailsFollowerWrapper {
  margin-left: var(--space-1);
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--color-primary-100);
}

.profileDetailsFollowerWrapper div h4 {
  color: var(--color-primary-100);
}

.profileDetailsFollowerWrapper div p {
  color: var(--color-primary-700);
}

.profilePosts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .profileWrapper {
    width: 650px;
    padding-left: var(--space-6);
  }
}
