.profileWrapper {
  margin-top: var(--space-2);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.myProfileWrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.profileWrapper > p {
  padding: 0 0 var(--space-1) var(--space-2);
  font-size: var(--font-length-md1);
  color: var(--color-primary-700);
}

.profileDetailsImage {
  /* flex: 1; */
  display: flex;
  align-items: center;
  /* background-color: var(--color-alternate-700); */
  border-radius: 50%;
  margin: var(--space-1);
}

.profileDetailsImage > img {
  max-width: 100%;
  width: 100px;
  height: 100px;
}

.profileDetails {
  display: flex;
  /* padding-left: var(--space-1); */
}

.profileDetails > div {
  margin: var(--space-1);
  /* flex: 2; */
}

.profileDetails > div h2 {
  color: var(--color-primary-700);
}
.profileDetailsUsername {
  color: var(--color-primary-100);
}
.profileDetailsFollowerWrapper {
  display: flex;
  gap: 16px;
}

.profileDetailsFollowerWrapper div h4 {
  color: var(--color-primary-100);
}

.profileDetailsFollowerWrapper div p {
  color: var(--color-primary-700);
}

.profileButtonWrapper {
  display: flex;
  gap: 16px;
  padding: 0 0 var(--space-2) var(--space-2);
  border-bottom: 1px solid var(--color-primary-100);
}

.profilePosts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .profileWrapper {
    margin: var(--space-1);
    max-width: 650px;
    padding-left: var(--space-6);
  }
  .myProfileWrapper {
    width: 100%;
  }
}
