.profileWrapper {
  margin: var(--space-8) var(--space-1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profileWrapper > p {
  padding: 0 0 var(--space-1) var(--space-1);
  font-size: var(--font-length-md1);
  color: var(--color-primary-700);
}

.profileDetailsImage {
  flex: 1;
  display: flex;
  align-items: center;
  /* background-color: var(--color-alternate-700); */
  border-radius: 50%;
  margin: var(--space-1);
}

.profileDetailsImage > img {
  max-width: 100%;
  width: 100px;
  height: 100px;
}

.profileDetails {
  display: flex;
}

.profileDetails > div {
  margin: var(--space-1);
  flex: 2;
}

.profileDetails > div h2 {
  color: var(--color-primary-700);
}

.profileDetailsFollowerWrapper {
  display: flex;
  gap: 16px;
  border-bottom: 1px solid var(--color-primary-100);
}

.profileDetailsFollowerWrapper div h4 {
  color: var(--color-primary-100);
}

.profileDetailsFollowerWrapper div p {
  color: var(--color-primary-700);
}

.profileButtonWrapper {
  display: flex;
  gap: 16px;
  padding: 0 0 var(--space-2) var(--space-1);
}

.profilePosts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
